@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
    text-decoration: underline;
    text-decoration-color: blue;
    column-count: 3;
    background: rgb(145,206,224);
    background: radial-gradient(circle, rgba(145,206,224,1) 0%, rgba(167,166,166,1) 100%);
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(4, 153, 153);
}

.activities{
    column-count:3;
}

.groups{
    column-count: 2;
}

.activity-card{
    border-radius: 25px;
    background: rgba(37, 99, 235);
    box-shadow: 10px 5px 5px black;
    color: white;
    padding: 24px;
    width: 200px;
    height: 85px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 150%;
    margin: 5px;
}

.group-card{
    display: flex;
    border-radius: 25px;
    background: rgba(37, 99, 235);
    box-shadow: 10px 5px 5px black;
    color: white;
    padding: 24px;
    width: 200px;
    height: 85px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 125%;
    margin: 5px;
}

.typed-input {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0px 0px 8px;
    margin: 5px;
    position: relative;
}

#itinerary-grid {
    display: flex;
    flex-wrap: wrap;
}

.trip-tile {
    border: 0.75px solid black;
    border-radius: 5px;
    padding: 20px;
    /* padding-left: 20px;
    padding-bottom: 20px; */
    min-width: 400px;
    margin: 10px;

    /* display: flex;
    flex-direction: column; */
}

.tile-buttons {
    color: blue;
    max-width: 150px;
    display: flex;
    justify-content: space-between;

    :hover {
        text-decoration: underline;
    }
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start {
    color: blue;
    text-decoration: underline;
}

#itinerary-details {
    margin-left: 20px;
}

.date {
    font-weight: bold;
    text-decoration: underline;
}

.day-entry {
    margin-left: 10px;
    margin-bottom: 20px;
}

.day-details {
    margin-left: 10px;
}

.time-of-day {
    font-weight: bold;
}

.activity-details {
    margin-left: 10px;
}

