/* PAGES.JSX */
.form-container {
    /* background-color: blue; */
    /* width: 100%;
    height: 100%; */
}


.activities{
    background-color: red;
    height: 350px;
    
}

.activities li{
    background-color: green;
}

