/* PAGES.JSX */
.placeholder-destination-img {
    width: 100%;
}
.form-container {
    height: 100%;
}

/* ACTIVITIES.JSX */
.activity-checkboxes {
    width: 100%;
}
.activity {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
}
.activity input {
    margin-left: 5px;
}
.activity img {
    width: 100%;
}
.activity label {
    width: 100%;
}
.activity label p {
    text-align: center;
}

/* GROUP.JSX */
.grupos-container {
    background-color: red;
}
.group-box {
    background-color: #0B1320;
    opacity: .9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    height: 60px;
    width: 70%;
    border-radius: 15px;
}
.group-box span {
    margin-left: 10px;
}
