.login-btn {
    background-color: #0B1320;
    color: white;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
}

.login-btn:hover {
    background-color: #2d3646;
}

.navbar-brand {
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}
