.login-form {
    /* background-color: red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form input {
    height: 40px;
    border: 1px solid #0B1320;
    border-radius: 10px;
    padding: 10px;

}

.input-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 250px;
}

.input-form-login {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.input-form-login button {
    width: 70%;
    margin: auto;
    
}